<div class="post_cont" id="room">
  <% if user_signed_in? %>
    <p id="notice"><%= notice %></p>
    <%= render partial: 'posts/form', locals: {post: @post}%>
    <!-- <%= link_to 'New Post', new_post_path %> -->
    <% if @posts.any? %>
    <div  id="posts">
      <% @posts.each do |p| %>
        <%= render partial:"shared/post", locals: { post: p, view: 'index'}  %>
      <% end %>
    </div> 
    <% end %>
  <% end %>
</div>
