<div class="post_cont" >
  <% if user_signed_in? %>
    <p id="notice"><%= notice %></p>
    <%= link_to 'New Post', new_post_path %>
    <%= render partial: "shared/post", locals: {post: @post, view: 'new'}  %>
  <% end %>
</div>